In [57]:
import pandas as pd

top_50 = pd.ExcelFile('/Users/kirillsakharov/Desktop/bloomberg data/top_50.xlsx')
top_50_remainder = pd.ExcelFile('/Users/kirillsakharov/Desktop/bloomberg data/top_50_remainder.xlsx')
bottom_50 = pd.ExcelFile('/Users/kirillsakharov/Desktop/bloomberg data/50-100.xlsx')

top_50_df = top_50.parse(sheet_name=0, skiprows=9, header=0)
top_50_remainder_df = top_50_remainder.parse(sheet_name=0, skiprows=4, header=0)
bottom_50_df = bottom_50.parse(sheet_name=0, skiprows=4, header=0)

In [58]:
pd.set_option('display.max_columns', None)

In [60]:
top_50_remainder_df = top_50_remainder_df.drop(["Dates.1", "Dates.2", "Dates.3", "Dates.4", "Dates.5", "Unnamed: 20",
                                                "Unnamed: 41", "Unnamed: 62", "Unnamed: 83", "Unnamed: 104"], axis=1)

In [61]:
# Assigning metric names followed by company name for each company.

company_names = ["UPS", "JPMorgan", "Kering", "Budweiser", "Toyota", "Toyota2"]

base_column_names = ["Last Price", "Volume", "Volatility 10 Day", "Volatility 30 Day", 
                "Volatility 90 Day", "News Heat - Daily Average Story Flow",
                "News Sentiment - Daily Average", "Twitter Sentiment Daily Average",
                "Twitter Publication Count", "News Publication Count", 
                "ESG News Count ES Negative", "ESG News Count ES Positive", 
                "ESG News Sentiment ES Negative", "ESG News Sentiment ES Positive", 
                "Open Price", "Basic Earnings per Share", 
                "Price Earnings Ratio (P/E)", "Return on Common Equity", 
                "Total Debt to Total Equity"]

new_column_names = []

for i, company in enumerate(company_names):
    for base_name in base_column_names:
        new_column = f"{base_name}_{company}"
        new_column_names.append(new_column)

top_50_remainder_df.columns = ["Dates"] + new_column_names

In [62]:
# Dropping duplicate company
cols_to_drop = [col for col in top_50_remainder_df.columns if col.endswith('Toyota2')]
top_50_remainder_df = top_50_remainder_df.drop(cols_to_drop, axis=1)

In [64]:
top_50_df = top_50_df.drop("Unnamed: 0", axis=1)

In [66]:
# Assigning metric names followed by company name for each company.

company_names = ["Apple", "Google", "Google2", "Microsoft", "Amazon", "Meta", "Coke", "Disney", "Samsung", "Louis Vutton", "Louis Vutton2", "Mcdonalds", "Toyota", "Intel", "Nike", "AT&T", "Cisco", "Oracle", "Verizon", "Visa", "Walmart", "General Electric", "Budweiser", "Budweiser2", "SAP", "Mercedez", "IBM", "Philip Morris", "Netflix", "BMW", "American Express", "Honda", "Honda2", "L'oreal", "Gucci", "Hermes", "Nestle", "Home Depot", "Accenture", "Pepsi", "Starbucks", "Mastercard", "Frito(to delete)", "Zara", "Procter and Gamble/Gillete", "HSBC", "Volkswagen", "JPMorgan", "Sony", "Sony2", "UPS", "Bank of America", "JPM again!"]

base_column_names = ["Last Price", "Volume", "Volatility 10 Day", "Volatility 30 Day", 
                "Volatility 90 Day", "News Heat - Daily Average Story Flow",
                "News Sentiment - Daily Average", "Twitter Sentiment Daily Average",
                "Twitter Publication Count", "News Publication Count", 
                "ESG News Count ES Negative", "ESG News Count ES Positive", 
                "ESG News Sentiment ES Negative", "ESG News Sentiment ES Positive", 
                "Open Price", "Basic Earnings per Share", 
                "Price Earnings Ratio (P/E)", "Return on Common Equity", 
                "Total Debt to Total Equity"]

new_column_names = []

for i, company in enumerate(company_names):
    for base_name in base_column_names:
        new_column = f"{base_name}_{company}"
        new_column_names.append(new_column)

top_50_df.columns = ["Dates"] + new_column_names

In [67]:
# removing duplicates/ null valued stocks

names_to_drop = ['Toyota2', 'Toyota', 'JPM again!', 'UPS', 'Sony2', 'JPMorgan', 'Frito(to delete)', 'Gucci', 'Honda2',
                'Budweiser2', 'Budweiser', 'Louis Vutton2', 'Google2'] 
cols_to_drop = [col for col in top_50_df.columns if any(col.endswith(name) for name in names_to_drop)]
top_50_df = top_50_df.drop(cols_to_drop, axis=1)

In [70]:
# Assigning metric names followed by company name for each company.

company_names = ["Adidas", "Siemens", "CVS Health", "Porsche", "Citigroup", "Wells Fargo", "Adobe", "T-Mobile US", "eBay", "General Motors", "PayPal", "Ford", "HP Inc.", "Colgate-Palmolive", "Fox Corporation", "Lowe's", "H&M", "Lexus", "Banco Santander", "Costco", "Hyundai Motor Company", "Danone", "Heineken", "Goldman Sachs", "Nintendo", "Nintendo2", "AXA", "Allianz", "Dell", "Caterpillar", "John Deere", "UBS Group", "Yum! Brands", "Restaurant Brands International", "FedEx", "Volkswagen2"]

base_column_names = ["Last Price", "Volume", "Volatility 10 Day", "Volatility 30 Day", 
                "Volatility 90 Day", "News Heat - Daily Average Story Flow",
                "News Sentiment - Daily Average", "Twitter Sentiment Daily Average",
                "Twitter Publication Count", "News Publication Count", 
                "ESG News Count ES Negative", "ESG News Count ES Positive", 
                "ESG News Sentiment ES Negative", "ESG News Sentiment ES Positive", 
                "Open Price", "Basic Earnings per Share", 
                "Price Earnings Ratio (P/E)", "Return on Common Equity", 
                "Total Debt to Total Equity"]

new_column_names = []

for i, company in enumerate(company_names):
    for base_name in base_column_names:
        new_column = f"{base_name}_{company}"
        new_column_names.append(new_column)

bottom_50_df.columns = ["Dates"] + new_column_names

In [71]:
bottom_50_df = bottom_50_df.iloc[1:]

In [73]:
from functools import reduce

dfs = [top_50_df, top_50_remainder_df, bottom_50_df]

for df in dfs:
    df['Dates'] = pd.to_datetime(df['Dates'])

# Joining the dataframes on dates column
merged_df = reduce(lambda left,right: pd.merge(left,right,on='Dates', how='outer'), dfs)

/var/folders/_w/t13tb9qx6qsfqhrwbncrcc040000gn/T/ipykernel_2211/1940620531.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Dates'] = pd.to_datetime(df['Dates'])

In [75]:
# Checking for any duplicates
column_names = merged_df.columns.tolist()

unique_column_names = set()
for column_name in column_names:
    if column_name in unique_column_names:
        print(f"Duplicate found: {column_name}")
    else:
        unique_column_names.add(column_name)

if len(column_names) == len(unique_column_names):
    print("No duplicate column names found.")

No duplicate column names found.

In [ ]:

# number of columns per stock
n = 19  

# gets the 'Last Price' column name for each stock
stocks = [merged_df.columns[i] for i in range(1, len(merged_df.columns), n)]  

for stock in stocks:
    company_name = stock.split('_')[-1]  
    for days in [1, 2, 3, 7, 15, 30]:
        future_return = merged_df[stock].shift(-days) / merged_df[stock] - 1
        future_return_col_name = f'{days} Day Future Return_{company_name}'
        
        # Find current column index and add future return column after
        stock_idx = merged_df.columns.get_loc(stock)
        merged_df.insert(stock_idx+1, future_return_col_name, future_return)

In [79]:
# Extracting companies in dataframe
companies = set()
for col in merged_df.columns:
    company_name = col.split('_')[-1]
    companies.add(company_name)

print(companies)

{'CVS Health', 'HSBC', 'UBS Group', 'Ford', 'Dell', 'PayPal', 'Pepsi', 'Volkswagen2', 'Walmart', 'Oracle', 'AXA', 'Apple', 'Intel', 'Starbucks', 'John Deere', 'Netflix', 'Porsche', 'American Express', 'Nike', 'Mcdonalds', 'Danone', 'BMW', 'Mastercard', 'Louis Vutton', 'Costco', 'Hermes', 'UPS', 'Wells Fargo', 'Citigroup', 'Colgate-Palmolive', 'Meta', 'Mercedez', 'AT&T', 'Philip Morris', 'Bank of America', 'Siemens', 'Banco Santander', 'Adidas', 'H&M', 'Google', 'Nintendo', "L'oreal", 'Honda', 'Nintendo2', 'Caterpillar', 'Microsoft', 'Samsung', 'Cisco', 'Lexus', 'Fox Corporation', 'JPMorgan', 'Yum! Brands', 'SAP', 'Verizon', 'Amazon', 'Procter and Gamble/Gillete', 'Budweiser', 'Allianz', 'Accenture', 'General Electric', 'Disney', "Lowe's", 'Home Depot', 'Hyundai Motor Company', 'Nestle', 'HP Inc.', 'Adobe', 'Goldman Sachs', 'Dates', 'Coke', 'Sony', 'Zara', 'Heineken', 'FedEx', 'Toyota', 'General Motors', 'Kering', 'Volkswagen', 'eBay', 'Visa', 'IBM', 'T-Mobile US', 'Restaurant Brands International'}

In [81]:
# Separate column names into two parts: feature and company
merged_df.columns = pd.MultiIndex.from_tuples([col.split('_') if '_' in col else (col, 'None') for col in merged_df.columns])

# Stack the DataFrame
df_long = merged_df.stack().reset_index().rename(columns={'level_0': 'Date', 'level_1': 'Company'})

In [83]:
# Saving for use in predictions in other notebooks
df_long.to_csv('bloomberg_labelled.csv', index=False)